

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font);
  
  background-size: auto;
  
  background-color: var(--background-color);
  color: var(--accent-color);
  margin-block: 50px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  filter: sepia(0.2);
  background-position: center;
  background-repeat: no-repeat;
}

.head {
  
}

.header-title {
  font-size: var(--title-font-size);
  margin-block: 0 25px;
  text-align: center;
}

.header-title-text {
  font-size: 30px;
  font-weight: 500;
  margin-block: 20px 25px;
  text-align: center;
}

.icon {
  background-image: url(../images/svg_1735293387453.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.calendar {
  display: flex;
 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
 
  inline-size: var(--page-inline-size);
  flex-direction: column
}
.day {
  margin: 0 70px;
  padding: 10px 0;
  text-align: center;
  border: 1px solid #000000; /* Граница между днями */
}

.day h3 {
  margin: 0;
  font-size: 30px;
  color: #000000;
  padding-bottom: 10px;
}
.month {
  font-size: 25px;
  color: #777;
  margin-bottom: 5px;
}
.day-number {
  margin: 10px 0 0;
  font-size: 30px;
  font-weight: 400;
  color: #000000;
}

.wedding-day{
  font-size: 40px;
  font-weight: 800;

}

.content {
  inline-size: var(--page-inline-size);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('../images/white-abstract-texture-background.jpg');
  background-size: cover;
  gap: 50px;
}

.card {
  background-size: cover;
}

.card-title {
  font-size: 25px;
  font-weight: 600;
}

@supports ((text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #fff)) {
  .image-label {
    text-stroke: 1px #fff;
    -webkit-text-stroke: 1px #fff;
    text-shadow: none;
  }
}

.card-list {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px;
}

.card-text {
  font-size: 25px;
  line-height: 1.16667;
  text-align: center;
}

.card-list-flower {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin: 25px;
  padding: 15px;
  background-color: #5f0a0a;
  color: #acacac;
  border-radius: 10%;
  text-align: center;
}

.card-list-present {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin: 25px;
  padding: 15px;
  background-color: #5f0a0a;
  color: #acacac;
  border-radius: 10%;
  text-align: center;
}

.timing {
  display: flex;
  flex-direction: column;
  gap: 100px;
  inline-size: var(--page-inline-size);
  padding: 25px 25px 25px 25px;
  font-size: 25px;
}

.line {
  background-image: url(../images/line41.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: visible;
}

.timing-2 {
 text-align: end;
}

.timing-4 {
  text-align: end;
}

.time {
  font-size: 30px;
}

.button-flower {
  background-color: #fff; /* Зеленый цвет фона */
  color: #000; /* Белый цвет текста */
  padding: 15px 32px; /* Внутренние отступы */
  font-size: 25px; /* Размер шрифта */
  border: none; /* Убираем границу */
  border-radius: 8px; /* Закругляем углы */
  cursor: pointer; /* Курсор в виде руки при наведении */
  transition: background-color 0.5s ease; /* Плавное изменение цвета */
  text-decoration: none;
  margin: 0 20px;
}

.button-flower:hover {
  background-color: #b60c0c; /* Темно-зеленый цвет при наведении */
  transition: background-color 0.1s ease; 
  color: #fff;
}

@media (any-hover: hover) {
  .button-flower:hover {
    background-color: #b60c0c;
    transition: background-color 0.5s ease;
  }
}

.button-flower:active {
  background-color: #fff; /* Еще темнее при нажатии */
  color: #000;
}

.button-profile {
  background-color: #5f0a0a; /* Зеленый цвет фона */
  color: #fff; /* Белый цвет текста */
  padding: 15px 32px; /* Внутренние отступы */
  font-size: 25px; /* Размер шрифта */
  border: none; /* Убираем границу */
  border-radius: 8px; /* Закругляем углы */
  cursor: pointer; /* Курсор в виде руки при наведении */
  transition: background-color 0.5s ease; /* Плавное изменение цвета */
  text-decoration: none;
}

.button-profile:hover {
  background-color: #b60c0c; /* Темно-зеленый цвет при наведении */
  transition: background-color 0.1s ease; 
}

@media (any-hover: hover) {
  .button-profile:hover {
    background-color: #b60c0c;
    transition: background-color 0.5s ease;
  }
}

.button-profile:active {
  background-color: #5f0a0a; /* Еще темнее при нажатии */
  color: #fff;
}

.footer-title {
  font-size: 30px;
  text-align: center;
}

.vensel {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 50%;
}

.vensel-head {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
}