/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --main-font: 'GreateVibes';
    
    --text-font-weight: 400;
    --title-font-weight: 700;
    --background-color: #5f0a0a;
   
    --accent-color: #000;
    --page-inline-size: clamp(23.438rem, 16.285rem + 30.516vw, 43.75rem);
    --header-block-size: clamp(20.438rem, 19.535rem + 3.85vw, 23rem);
    --title-font-size: clamp(3rem, 0.677rem + 1vw, 1.438rem);
    
    --accent-font-size: 22px;
    --main-font-size: 1px;
    --color-main-body: #ff0000;
}